In [1]:
3+5

8

In [2]:
a = 5
print(a)

5

In [3]:
mass = 47.5
height = 24.5
age = 122
mass = mass * 2.3
age = age - 20
height = height + 20
print("The mass is",mass,"the height is", height,"the age is",age)

The mass is 109.24999999999999 the height is 44.5 the age is 102

In [4]:
print("The mass is",mass,"the height is", height,"the age is",age)

The mass is 109.24999999999999 the height is 44.5 the age is 102

In [5]:
dna = 'ATGC'
print(dna)

ATGC

In [29]:
import math as m

In [30]:
m.sqrt(64)

8.0

In [9]:
type(dna)

str

In [10]:
score = 79
print(type(score),score)
print(type(float(score)),float(score))
print(type(str(type(float(score)))),str(float(score)))

<class 'int'> 79
<class 'float'> 79.0
<class 'str'> 79.0

In [11]:
my_first_list = [4,5.0,"Texas"]

In [12]:
my_first_list[0]

4

In [13]:
my_first_list[-1]

'Texas'

In [14]:
my_first_list[-2]

5.0

In [15]:
my_first_list[1]

5.0

In [16]:
my_first_list[1] = 5.7

In [17]:
my_first_list[1]

5.7

In [18]:
my_first_tuple = ("apple", "banana", "cherry")
type(my_first_tuple)

tuple

In [19]:
my_first_tuple[1] = 5.7 #you cannot change tuples

TypeError: 'tuple' object does not support item assignment

In [20]:
my_first_dictionary = {"Number_1":1}
print(my_first_dictionary)

{'Number_1': 1}

In [21]:
my_second_dictionary = {"Number_one" : 1, "Number_two" : 2, "Number_three" :3}

In [22]:
print(my_second_dictionary)

{'Number_one': 1, 'Number_two': 2, 'Number_three': 3}

In [23]:
print(my_second_dictionary["Number_three"])

3

In [24]:
print(my_second_dictionary[1])

KeyError: 1

In [26]:
import pandas as pd

In [27]:
myOrder = {
    "menuItems" : ["chicken","soup","salad","tea"],
    "menuType" : ["solid","liquid","solid","liquid"],
    "menuCost" : [4.99,2.99,3.29,1.89]
           }
print(myOrder)

{'menuItems': ['chicken', 'soup', 'salad', 'tea'], 'menuType': ['solid', 'liquid', 'solid', 'liquid'], 'menuCost': [4.99, 2.99, 3.29, 1.89]}

In [28]:
print(myOrder["menuType"])

['solid', 'liquid', 'solid', 'liquid']

In [32]:
#datafit- converts into tabular data
myOrder_df = pd.DataFrame(data=myOrder)
print(myOrder_df)

  menuItems menuType  menuCost
0   chicken    solid      4.99
1      soup   liquid      2.99
2     salad    solid      3.29
3       tea   liquid      1.89